@charset "utf-8";

.greeter {
  font-size: 1em;

  &__greeting {
    margin: 1em auto;
    text-align: center;
    font-size: 4rem;
    display: block;
  }

  &__name, &__name-label {
    font-size: 2em;
  }

  &__name-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
